*{
    margin: 0;
    padding: 0; 
}
div {
    margin: 2px;
    padding: 5px;
    
}
#geral {
       background-color: azure;

}

#esquerda {
    
    padding: 20px;
    background: linear-gradient(red, yellow);
    border-radius: 40px;
    height: 390px;
    width: 33%;
    
}
#central {
     
    padding: 20px;
    background: linear-gradient(#ffffff, background );
    border-radius: 40px;
    height: 390px;
    width: 33%;
       
}

#direita {
     
    padding: 20px;
    background:linear-gradient(darkorange, aqua);
    border-radius: 40px;
    height: 390px;
    width: 33%;
       
}
