*{
    margin: 0;
    padding: 0;
   
}
div {
    margin: 2px;
    padding: 5px;
    
}
#geral {
       background-color: azure;
     
    
}

#esquerda {
    
    background-color: #ebebeb;
    height: 390px;
    width: 33%;
    
}
#central {
     
    background-color: #67b168;
    height: 390px;
    width: 34%;
       
}

#direita {
     
    background-color: #ebebeb;
    height: 390px;
    width: 33%;
       
}
